.footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  color: rgba(84,84,84, 0.7);
}

@media screen and (max-width: 899px) {

  .footer__copyright {
    margin-left: 27px;
  }
}

@media screen and (max-width: 620px) {

  .footer__copyright {
    font-size: 14px;
    margin-left: 19px;
  }
}