.elements__remove-button {
  min-width: 18px;
  min-height: 19px;
  display: block;
  background-color: transparent;
  background-image: url(../../../images/trashbin.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  align-self: center;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  opacity: 1;
}

.elements__remove-button:hover {
  opacity: 0.6;
  transition-duration: 0.5s;
}