.popup__submit-button {
  min-height: 50px;
  background-color: rgba(0, 0, 0, 1);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
  margin: 0 0 37px 0;
  padding: 0;
  border: none;
  border-radius: 2px;
}

.popup__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition-duration: 0.5s;
}

@media screen and (max-width: 620px) {

  .popup__submit-button {
    min-height: 46px;
    font-size: 14px;
  }
}